[Desktop Entry]
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec={{ .chezmoi.homeDir }}/apps/VSCode-linux-x64/code %F
Type=Application
StartupNotify=false
StartupWMClass=Code
Icon={{ .chezmoi.homeDir }}/apps/VSCode-linux-x64/resources/app/resources/linux/code.png
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Keywords=vscode;

Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec={{ .chezmoi.homeDir }}/apps/VSCode-linux-x64/code --new-window %F
Icon={{ .chezmoi.homeDir }}/apps/VSCode-linux-x64/resources/app/resources/linux/code.png
